{% extends 'index.html' %} 
{% load static %} 
{% block content %}
{% include 'banner.html' %}


<main id="main-content">
  <div
    id="shopify-section-template--23128345117002__main"
    class="shopify-section cc-main-page section section--template"
  >
    <link
      href="//stationeryshop.co.uk/cdn/shop/t/42/assets/article.css?v=132060912856357506921721041552"
      rel="stylesheet"
      type="text/css"
      media="all"
    />

    <div class="container">
      <div class="reading-width rte mb-6 md:mb-8 mt-10 md:mt-16 mx-auto">
        <h1 style="font-size: 60px; color:#3b3b3b; margin: 80px 0 0; font-weight: 600;" class="page__title lg:mt-8 text-center">About Us</h1>
      </div>
      <div
        class="page__content reading-width rte article-content mt-12 mx-auto"
      ></div>
    </div>
  </div>

  <div
    id="shopify-section-template--23128345117002__rich_text_9AkHAY"
    class="shopify-about-us"
  >
    <link
      href="//stationeryshop.co.uk/cdn/shop/t/42/assets/text-overlay.css?v=67113652353100091651721041554"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <div
      class="section color-scheme--transparent cc-animate-init cc-animate-in"
      id="template--23128345117002__rich_text_9AkHAY"
      data-cc-animate=""
    >
      <div class="container flex justify-center text-start md-down:text-center">
        <div class="max-w-text-overlay">
          <h2
            class="section__block section__block--heading md-down:px-gutter h2"
          >
            <span class="contained-heading inline-block"
              >Over 40 Years Developing The Best Stationery Brands Available To
              You</span
            >
          </h2>
          <div
            class="section__block reading-width--inline md-down:px-gutter rte mr-auto enlarge-text"
          >
            <p>
              <strong
                >At StationeryShop.co.uk, our goal is to offer you an unrivalled
                range of high-quality stationery and crafts brands at the best
                prices.</strong
              >
            </p>
            <p>
              Premier Stationery, a family-run business established in 1978 that
              has developed long-standing favourite brands including
            </p>
            <ul>
              <li>
                <strong>Crafty Bitz</strong>, a range of art &amp; craft
                projects for kids
              </li>
              <li>
                <strong>Clever Kidz</strong>, which includes a variety of
                teaching aids that make learning fun
              </li>
              <li>
                <strong>Concept</strong>, a Professional Office Range &amp;
                Premier Office for all stationery requirements
              </li>
            </ul>
            <p>
              established Stationery Shop to innovate the stationery market.
            </p>
            <p>
              With a comprehensive assortment of over 3,500 products, we quickly
              grew to become the main provider of stationery and craft supplies
              for nursery and school-aged children, students, working
              professionals, teachers, artists and small businesses.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    id="shopify-section-template--23128345117002__rich_text_hHzTz3"
    class="shopify-about-us"
  >
    <link
      href="//stationeryshop.co.uk/cdn/shop/t/42/assets/text-overlay.css?v=67113652353100091651721041554"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <div
      class="section section--padded section--full-width color-scheme color-scheme--3 cc-animate-init cc-animate-in"
      id="template--23128345117002__rich_text_hHzTz3"
      data-cc-animate=""
    >
      <div class="container flex justify-center text-start md-down:text-center">
        <div class="max-w-text-overlay">
          <h2
            class="section__block section__block--heading md-down:px-gutter h2"
          >
            <span class="inline-block"
              >1000s of Stationery Items Always In Stock</span
            >
          </h2>
          <div
            class="section__block reading-width--inline md-down:px-gutter rte mr-auto enlarge-text"
          >
            <p>
              Choose from a wide range of products that fit your style and
              needs: Stationery Superstore is your one-stop stationery shop,
              featuring a wide range of pens, notebooks, backpacks, outdoor and
              travel items, desktop essentials, crafts accessories, brushes and
              paints and much more at the best prices. Our small, energetic and
              dedicated team is there to help you with any query.
            </p>
            <p>
              <strong
                >Welcome to Stationery Shop – Your superstore for all your
                stationery needs at the best prices.</strong
              >
            </p>
            <p>
              Stay up to date with the latest giveaways, sales, products and
              more! Connect with us on:
            </p>
            <p>
              <strong>Facebook: </strong
              ><a
                href="https://www.facebook.com/stationerysuperstore.uk/"
                target="_blank"
                title="https://www.facebook.com/stationerysuperstore.uk/"
                >@stationerysuperstore.uk</a
              >
            </p>
            <p>
              <strong>Instagram: </strong
              ><a
                href="https://www.instagram.com/stationerysuperstore.uk/"
                target="_blank"
                title="https://www.instagram.com/stationerysuperstore.uk/"
                >@stationerysuperstore.uk</a
              >
            </p>
            <p>We are looking forward to seeing you there!</p>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div
    id="shopify-section-template--23128345117002__newsletter"
    class="shopify-section cc-newsletter"
  >
    <link
      rel="stylesheet"
      href="//stationeryshop.co.uk/cdn/shop/t/42/assets/text-overlay.css?v=67113652353100091651721041554"
      media="all"
      onload="this.media='all'"
    />
    <div
      class="newsletter section color-scheme color-scheme--default relative"
      id="template--23128345117002__newsletter"
      style="margin-bottom: 100px;"
    >
      <div class="flex relative justify-center">
        <div class="container flex justify-center">
          <div
            class="text-center cc-animate-init cc-animate-in"
            data-cc-animate=""
          >
            <h2 class="section__block section__block--heading h5">
              Sign up to our Newsletter
            </h2>
            <div class="section__block reading-width rte mx-auto">
              <p>
                Be the first to know about new collections and exclusive offers.
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section
    id="shopify-section-template--23128345117002__collection_list_KTetJd"
    class="shopify-section cc-collection-list">

  </section>
</main>

<style>
  .shopify-about-us {
    margin: 0 33%;
    padding: 10px 30px;
  }

  .title-name {
    font-size: 60px;
    color: #3b3b3b;
    font-weight: 600;
  }

  .inline-block {
    font-weight: 600;
    color: #3b3b3bd0;
  }

  .rte {
    font-size: 20px;
    color: #3b3b3b;
  }

  strong {
    font-size: 30px;
    color: #000000;
    font-weight: 600;
  }
</style>
{% endblock %}
