{% extends 'index.html' %}

{% load static %}

{% block content %}
{% include 'banner.html' %}

<!-- MAIN CONTENT -->
<div id="main" role="main">
  <div class="container">
    <div class="row sidebar_left">
      <div class="column_center">
        <div class="col-sm-9" id="main_content">
          <div class="index-scope">
            <h2 style="margin-left: 25px;" class="page_heading">Recently Added </h2>
            <div class="product-listing__index">
              <div class="product_listing_main">
                <div class="row">
                  {% for product in products %}
                    {% include 'product.html' %}
                  {% empty %}
                  <p>No products available.</p>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include 'sidebar.html' %}
    </div>
  </div>
</div>


{% endblock %}