{% extends 'index.html' %}

{% load static %}

{% block content %}

<main id="main-content">
  <div class="shopify-policy__container">
    <div class="shopify-policy__title">
      <h1 class="title-name">Refund policy</h1>
    </div>

    <div class="shopify-policy__body">
      <div class="rte">
        <p>
          <span
            >Although best care is taken to keep all product images and
            descriptions up to date and as accurate as possible, there can be
            slight variations on items on delivery. If you are not happy with
            the products you received, please let us know.
          </span>
        </p>
        <p>
          We have a 14-day return policy, which means you have 14 days after
          receiving your item to request a return or exchange. You pay for
          return shipping if you're returning the item because you changed your
          mind. For faulty or broken products, we will offer a full refund or
          send a new item out to you, depending on availability.<br /><br />To
          be eligible for a return, your item must be in the same condition that
          you received it, unworn or unused, with tags, and in its original
          packaging. You’ll also need the receipt or proof of purchase.
          <br /><br />To start a return, you can contact us at
          <a href="mailto:support@stationerysuperstore.uk"
            >support@stationeryshop.co.uk</a
          >
          If your return is accepted,
          <span
            >we will send you instructions on how and where to send your
            package. Items sent back to us without first requesting a return
            will not be accepted.</span
          >
          Items sent back to us without first requesting a return will not be
          accepted.&nbsp;<br />
        </p>
        <p><strong>Please provide in the description:</strong><br /></p>
        <ul>
          <li>Order number</li>
          <li>Description of fault</li>
          <li>A clear photograph of the damaged goods</li>
        </ul>
        <p>
          Afterwards, our friendly support team will investigate this issue for
          you. Please be aware that we are not able to take responsibility for
          customer generated mistakes.
        </p>
        <div
          id="wl_80129ea8-5e35-4577-9403-e91119d7ca7f"
          class="mz_wgtContainer"
        >
          <div class="mz_wgt_1 mz_genAdv_txt">
            <div id="w1_TextEntered" name="w1_TextEntered" class="">
              <p>
                If you choose to receive a refund of a defect item, we will
                refund you the total amount you paid for the product or
                products, plus any delivery charges you may have paid on your
                order, within 14 days of the day on which you provide us with
                evidence that the product or products are faulty or return the
                products to us. If you choose to receive a replacement, we will
                send a replacement out as fast as we can.
              </p>
            </div>
          </div>
        </div>
        <p>
          You can always contact us for any return question at
          <a href="mailto:support@stationerysuperstore.uk"></a
          ><a href="mailto:support@stationerysuperstore.uk"
            >support@stationeryshop.co.uk</a
          >
        </p>
        <p>
          Unfortunately, we cannot accept returns on sale items or gift
          cards.<br />
        </p>
        <p>
          <strong>Damages and issues</strong> <br />Please inspect your order
          upon reception and contact us immediately if the item is defective,
          damaged or if you receive the wrong item, so that we can evaluate the
          issue and make it right.
        </p>
        <p>
          <strong>Exchanges</strong> <br />The fastest way to ensure you get
          what you want is to return the item you have, and once the return is
          accepted, make a separate purchase for the new item.
        </p>
        <p>
          <strong>Refunds</strong> <br />We will notify you once we’ve received
          and inspected your return, and let you know if the refund was approved
          or not. If approved, you’ll be automatically refunded on your original
          payment method. Please remember it can take some time for your bank or
          credit card company to process and post the refund too.
        </p>
      </div>
    </div>
  </div>
</main>

<style>
    .shopify-policy__container {
      margin: 0 25%;
      padding: 70px 30px;
    }
  
    .title-name {
      font-size: 60px;
      color: #3b3b3b;
      font-weight: 600;
    }
  
    .rte {
      font-size: 20px;
      color: #3b3b3b;
    }
  
    strong {
      font-size: 35px;
      color: #000000;
      font-weight: 600;
    }
</style>
{% endblock %}