{% extends 'index.html' %}

{% load static %}
{% load thumbnail %}

{% block content %}

<!-- MAIN CONTENT -->
<div id="main" role="main">
  <div class="container">
    <ul class="breadcrumb">
      <li>
        <a
          href="{% url 'index' %}"
          class="homepage-link"
          title="Back to the frontpage"
          >Home</a
        >
      </li>

      <li><span class="page-title">Products</span></li>
    </ul>


    <div class="row sidebar_left">
      <div class="column_center">
        <div id="main_content" class="col-sm-9">

          {% include 'sorting.html' %}

              <div class="product-listing__collection">
                <div class="product_listing_main">
                    <div class="row">
                      {% for product in page_obj.object_list %}
                        {% include 'product.html' %}
                      {% empty %}
                      <p>No products available.</p>
                      {% endfor %}
                    </div>
                  </div>
                </div>

                <script src="{% static 'js/cart/dynamic_cart_icon.js' %}"></script>


                <div style="margin-left: 25px;" id="pagination">
                  {% if page_obj.has_previous %}
                      <span class="prev">
                        <a href="?{% if request.GET.category %}category={{ request.GET.category|urlencode }}&{% endif %}{% if request.GET.sort_by %}sort_by={{ request.GET.sort_by|urlencode }}&{% endif %}page={{ page_obj.previous_page_number }}">Previous</a>
                      </span>
                  {% endif %}

                  {% for page_num in page_obj.paginator.page_range %}
                      {% if page_obj.number == page_num %}
                          <span class="page current">{{ page_num }}</span>
                      {% else %}
                      <!-- <span class="page current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                      </span> -->

                          <span class="page">
                              <a href="?{% if request.GET.category %}category={{ request.GET.category|urlencode }}&{% endif %}{% if request.GET.sort_by %}sort_by={{ request.GET.sort_by|urlencode }}&{% endif %}page={{ page_num }}">{{ page_num }}</a>
                          </span>
                      {% endif %}
                  {% endfor %}

                  {% if page_obj.has_next %}
                      <span class="next">
                        <a href="?{% if request.GET.category %}category={{ request.GET.category|urlencode }}&{% endif %}{% if request.GET.sort_by %}sort_by={{ request.GET.sort_by|urlencode }}&{% endif %}page={{ page_obj.next_page_number }}">Next</a>
                      </span>
                  {% endif %}
                </div>

              </div>
              {% include 'filters.html' %}
            </div>
          </div>
        </div>
      </div>




<script>
document.addEventListener('DOMContentLoaded', function() {
    const filterInputs = document.querySelectorAll('.widget__collections select, .widget__types input, .widget__types select');
    const sorterLinks = document.querySelectorAll('.collection-scope a');
    const searchField = document.getElementById('search-field');

    function updateSearchResults() {
        const urlParams = new URLSearchParams(window.location.search);

        if (searchField.value.trim()) {
            urlParams.set('name', searchField.value.trim());
        } else {
            urlParams.delete('name');
        }

        // Add filters to the URL parameters
        filterInputs.forEach(input => {
            if (input.value) {
                urlParams.set(input.name, input.value);
            } else {
                urlParams.delete(input.name);
            }
        });

        // Add sorters to the URL parameters
        sorterLinks.forEach(link => {
            if (link.classList.contains('active')) {
                urlParams.set('sort_by', link.getAttribute('data-sort-by'));
            }
        });

        window.location.href = `{% url 'search_products' %}?${urlParams.toString()}`;
    }

    filterInputs.forEach(input => {
        input.addEventListener('change', updateSearchResults);
    });

    sorterLinks.forEach(link => {
        link.addEventListener('click', function(event) {
            event.preventDefault();
            sorterLinks.forEach(l => l.classList.remove('active'));
            this.classList.add('active');
            updateSearchResults();
        });
    });
});
</script>



{% endblock %}
