{% extends 'index.html' %}
{% load static %}
{% block content %}


<main id="main-content">
  <div class="shopify-policy__container">
    <div class="shopify-policy__title">
      <h1>Shipping policy</h1>
    </div>

    <div class="shopify-policy__body">
      <div class="rte">
        <h4><strong>How much is delivery?</strong></h4>
        <p>
          We offer FREE delivery on all orders over £25. Otherwise, we charge a
          low flat rate shipping fee of £4.95 per delivery.<br />
        </p>
        <p>
          At the moment we are not able to offer expedited delivery options.
        </p>
        <h4><strong>When can I expect my order to be dispatched?</strong></h4>
        <p>
          We always aim to dispatch orders within 24-hours between Monday to
          Thursday. Orders placed Friday evening will dispatch on Monday
          morning. In some cases or due to unforseen circumstances, dispatch can
          take longer. We will always aim to dispatch within 4 business days.
          Afterwards, it will take around 2-3 business days for the carrier to
          deliver your purchase.
        </p>
        <p>
          If one of the items you ordered is not in stock, your order may be
          delayed. If this is case, we will get in touch with you to notify you
          of potential delays as soon as possible. In the unlikely event that we
          are not able to complete your order for any reason, we will notify you
          as soon as possible to issue a refund or give you an alternative
          option.&nbsp;If you have not received an email for us, please check
          your spam folder and whitelist the email address:<span> </span
          ><a href="mailto:support@stationerysuperstore.uk"
            >support@stationeryshop.co.uk</a
          ><a
            title="Support"
            href="mailto:support@stationerysuperstore.uk"
            target="_blank"
          ></a
          ><br />
        </p>
        <h4><strong>When will my order arrive?</strong></h4>
        <p>
          Delivery takes around 3 business days from dispatch. In rare cases,
          orders might be delayed by factors beyond our control. Although we aim
          to give you the best shipping times possible to us, we cannot always
          guarantee arrivals of orders within 3 business days of dispatch.
        </p>
        <p>
          On the day of delivery, you will receive an SMS or email with the name
          of your delivery driver and a 2 hour time slot in which your parcel
          will be delivered to your house.
        </p>
        <h4>
          <strong
            >My order is urgent and I need it delivered before a specific day.
            What can I do?</strong
          >
        </h4>
        <p>
          Please let us know - either before or after you have ordered! If you
          need your order within a specific time frame delivered and either have
          ordered, or want to order, just write to us via chat (Monday to
          Friday, 9 am to 5 pm), call us on telephone on&nbsp;<span
            style="font-size: 14px"
            >0330 133 4520 (Monday to Friday, 9 am to 5 pm), write to us via our
            contact form below or send an email on<a
              title="Support"
              href="mailto:%20support@stationerysuperstore.uk"
              target="_blank"
              ><span> </span></a
            ><a href="mailto:support@stationerysuperstore.uk"
              >support@stationeryshop.co.uk</a
            ><br
          /></span>
        </p>
        <p>
          <span style="font-size: 14px"
            >Our helpful team will get back to you as fast as possible. We
            answer emails also outside our chat and telephone hours.</span
          >
        </p>
        <p><strong>Where do you deliver to?</strong></p>
        <p>
          StationeryShop.co.uk delivers to all mainland UK address, Northern
          Ireland and Wales for free on orders over £25 or for a low shipping
          fee of £4.95 if the order is below £25.
        </p>
        <p>
          Additional delivery costs may occur for orders from UK Island
          addresses like the Isle of Men, Isle of Wight, Orkney, Shetland
          Islands or similar. Please contact us on<span>&nbsp;</span
          ><a href="mailto:support@stationerysuperstore.uk" title="Support"></a
          ><a href="mailto:support@stationerysuperstore.uk"
            >support@stationeryshop.co.uk</a
          ><a href="mailto:support@stationerysuperstore.uk" title="Support"></a
          ><span> </span>to find out if we are able to deliver to your address
          if you are unsure.
        </p>
        <h4><strong>Can I speak with someone about my order?</strong></h4>
        <p>
          Of course! We are here to help. Do not hesitate to contact us about
          any questions regarding your order. Simply write to us us via our
          contact form.
        </p>
      </div>
    </div>
  </div>
</main>

<style>
.shopify-policy__container {
    margin: 0 25%;
    padding: 70px 30px;
}
</style>
{% endblock %}
