{% extends 'index.html' %}

{% load static %}
{% load thumbnail %}

{% block content %}
{% include 'banner.html' %}

<!-- MAIN CONTENT -->
<div id="main" role="main">
  <div class="container">
    <div class="row sidebar_left">
      <div class="column_center">
        <div class="col-sm-9" id="main_content">
          <div class="index-scope">
            <h2 class="page_heading">Featured Products</h2>
            <div class="product-listing__index">
              <div class="product_listing_main">
                <div class="row">
                  {% for product in products %}
                  <div class="product col-sm-4">
                    <div>
                      <div class="product_img">
                        <a href="{% url 'get_product_by_id' product.id %}">
                          <img
                            alt="{{ product.name }}"
                            src="{% thumbnail product.image 'product_thumbnail' %}"
                          />
                        </a>
                      </div>
                      <div class="product_info">
                        <div class="product_name">
                          <a href="{% url 'get_product_by_id' product.id %}">{{ product.name }}</a>
                        </div>

                        {% if product.discount == 0 %}
                          <span class="original-price">${{ product.price }}</span>
                        {% elif product.discount != 0 %}
                          <div class="product-price">
                            <div class="old-price-wrapper">
                              <span class="price-striked">${{ product.price }}</span>
                              <span class="discount-percentage">- {{ product.discount }}%</span>
                            </div>
                            <span class="discounted-price">${{ product.price_with_discount }}</span>
                          </div>
                        {% endif %}

                        <form method="post" action="{% url 'add_to_cart' product.id %}" class="button">
                          {% csrf_token %}
                          <button class="btn btn-cart" type="submit">Add to cart</button>
                        </form>

                      </div>
                    </div>
                  </div>
                  {% empty %}
                  <p>No products available.</p>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include 'sidebar.html' %}
    </div>
  </div>
</div>


<style>

.product_listing_main .row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 15px;
  box-sizing: border-box;
}

.product_name {
  font-size: 15px;
  text-align: center;
}

.original-price {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 24px;
  color: #3b3b3b;
  font-weight: bold;
  margin-top: 29px;
}

.product-price {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.old-price-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.price-striked {
  color: gray;
  text-decoration: line-through;
  font-size: 14px;
  margin-right: 8px;
}

.discount-percentage {
  color: rgb(255, 72, 103);
  font-size: 14px;
  font-weight: bold;
}

.discounted-price {
  color: #3b3b3b;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}


</style>

{% endblock %}
