{% extends 'index.html' %}

{% load static %}

{% block content %}
{% include 'banner.html' %}

<!-- MAIN CONTENT -->
<div id="main" role="main">
  <div class="container">
    <div class="row sidebar_left">
      <div class="column_center">
        <div class="col-sm-9" id="main_content">
          <div class="index-scope">
            <h2 class="page_heading">Featured Products</h2>
            <div class="product-listing__index">
              <div class="product_listing_main">
                <div class="row">
                  {% for product in products %}
                  <div class="product col-sm-4">
                    <div>
                      <div class="product_img">
                        <a href="{% url 'get_product_by_id' product.id %}">
                          <img
                            alt="{{ product.name }}"
                            src="{{ product.image.url }}"
                          />
                        </a>
                      </div>
                      <div class="product_info">
                        <div class="product_name">
                          <a href="{% url 'get_product_by_id' product.id %}">{{ product.name }}</a>
                        </div>

                        <div class="product-price">
                          <div class="original-price">
                              <span class="price-striked">${{ product.price }}</span>

                              <span class="discount-percentage">{{ product.discount }}%</span>
                          </div>
                          <div class="discounted-price">${{ product.price_with_discount }}</div>
                        </div>

                        <!-- {% if product.discount > 0 %}
                        <p class="price_text"><span style="color: #262626"><sup>${{ product.price }} - {{ product.discount }}%</sup> ${{ product.price_with_discount }}</span></p>
                        {% elif product.discount == 0 %}
                        <p class="price_text"><span style="color: #262626"><font size="+2">${{ product.price }}</font></span></p>
                        {% endif %} -->

                      </div>
                    </div>
                  </div>
                  {% empty %}
                  <p>No products available.</p>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include 'sidebar.html' %}
    </div>
  </div>
</div>


<style>
.product-price {
  font-family: Arial, sans-serif;
}

.original-price {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.discount-percentage {
  color: rgb(192, 17, 40);
  font-size: 14px;
  font-weight: bold;
  margin-left: 8px;
}

.price-striked {
  color: gray;
  text-decoration: line-through;
  font-size: 14px;
}

.discounted-price {
  color: black;
  font-size: 18px;
  font-weight: bold;
}
</style>


{% endblock %}
