{% extends 'index.html' %}

{% load static %}
{% load thumbnail %}

{% block content %}

<div id="main" role="main">
    <div class="container">

        <ul class="breadcrumb">
            <li>
                <a href="{% url 'index' %}" class="homepage-link" title="Back to the frontpage">Home</a>
            </li>
            <li>
                <a href="{% url 'get_product_by_id' product.category.id %}" title="">{{ product.category.name }}</a>
            </li>
            <li>
                <span class="page-title">{{ product.name }}</span>
            </li>
        </ul>

        <div class="row sidebar_left ">
            <div class="column_center">
                <div id="main_content" class="col-sm-9">
                    <div itemscope itemtype="http://schema.org/Product" class="product-scope">

                        <meta itemprop="url" content="{{ request.build_absolute_uri }}" />
                        <meta itemprop="image" content="{{ product.image.url }}" />

                        <div class="product_wrap">
                            <div class="row">
                                <div id="product_image-container" class="col-sm-5">
                                    <div class="product_image">
                                        <ul class="bxslider">
                                            <a rel="product_images" class="fancybox" href="{{ image.url }}" title="{{ product.name }}">
                                                <img src="{{ product.image.url }}" alt="{{ product.name }}" />
                                            </a>
                                        </ul>
                                    </div>

                                    <div id="bx-pager" class="product_image-additional">
                                        {% for image in product.images.all %}
                                        <a href="{{ image.url }}" data-slide-index="{{ forloop.counter0 }}">
                                            <img src="{{ image.thumbnail_url }}" alt="{{ product.name }}" />
                                        </a>
                                        {% endfor %}
                                    </div>
                                </div><!-- #product-photos -->

                                <div class="col-sm-7">
                                    <div itemprop="name" class="custom_product_name">
                                        <span>{{ product.name }}</span>
                                    </div>

                                    <div id="product_price">
                                        <p class="price product-price">
                                            {% if product.discount == 0 %}
                                                <span class="original-price">${{ product.price }}</span>
                                            {% elif product.discount != 0 %}
                                                <div class="product-price">
                                                    <span class="price-striked">${{ product.price }}</span>
                                                    <span class="discount-percentage">- {{ product.discount }}%</span>
                                                </div>
                                                <span class="discounted-price">${{ product.price_with_discount }}</span>
                                            {% endif %}
                                        </p>

                                    </div>

                                    <form class='form-horizontal'>
                                        {% csrf_token %}
                                        <div class="options clearfix">
                                            <div class="variants-wrapper clearfix visuallyhidden">
                                                <select id="product-select" name="id">
                                                    <option value="{{ product.id }}">{{ product.name }} - ${{ product.price_with_discount }}</option>
                                                </select>
                                            </div>
                                    
                                            <div id="purchase">
                                                <label style="font-size: 14px;" for="quantity">Quantity: </label>
                                                <input min="1" type="number" id="quantity-{{ product.id }}" name="quantity" value="1" class="form-control input-small" />
                                            </div>
                                        </div>
                                    </form>
                                    
                                    <!-- Separate form for the add to cart action -->
                                    <form id="add-to-cart-form-{{ product.id }}" method="post" action="{% url 'add_to_cart' product.id %}" class="button">
                                        {% csrf_token %}
                                        <input type="hidden" name="quantity" id="hidden-quantity-{{ product.id }}" value="1">
                                        <button class="btn btn-cart" type="submit" style="font-size: 16px;">Add to cart</button>
                                    </form>
                                    
                                    <script>
                                        document.addEventListener('DOMContentLoaded', function() {
                                            const form = document.getElementById('add-to-cart-form-{{ product.id }}');
                                            const quantityInput = document.getElementById('quantity-{{ product.id }}');
                                            const hiddenQuantityInput = document.getElementById('hidden-quantity-{{ product.id }}');
                                    
                                            form.addEventListener('submit', function(event) {
                                                hiddenQuantityInput.value = quantityInput.value;
                                            });
                                        });
                                    </script>
                                    

                                    <!-- Paste 'product_details' here! ----------------------------->
                                    <div class="product_details">
                                        <div class="product_category">
                                            <span>Category:</span>
                                            <a href="#" title="{{ product.category.name }}">{{ product.category.name }}</a>
                                        </div>

                                        <div class="product_rating">
                                            <div class="rate">
                                                <a class="rating">Rating:   </a>
                                                <input type="radio" id="star5" name="rate" value="5" />
                                                <label for="star5" title="5 stars"><i class="fas fa-star"></i></label>
                                                <input type="radio" id="star4" name="rate" value="4" />
                                                <label for="star4" title="4 stars"><i class="fas fa-star"></i></label>
                                                <input type="radio" id="star3" name="rate" value="3" />
                                                <label for="star3" title="3 stars"><i class="fas fa-star"></i></label>
                                                <input type="radio" id="star2" name="rate" value="2" />
                                                <label for="star2" title="2 stars"><i class="fas fa-star"></i></label>
                                                <input type="radio" id="star1" name="rate" value="1" />
                                                <label for="star1" title="1 star"><i class="fas fa-star"></i></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="product_desc">
                                        <div id="product_description" class="rte" itemprop="description">
                                            <h4 style="font-size: 16px;">Description:</h4>
                                            <p>{{ product.description }}</p>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row-fluid">
                                <div class="span12">
                                    <!-- Additional content if needed -->
                                </div>
                            </div>
                        </div>
                    </div>

                    {% include 'similar_products.html' %}

                </div>

                {% include 'sidebar.html' %}

            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/cart/dynamic_cart_icon.js' %}"></script>

<style>
.product_details {
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

.custom_product_name {
    text-align: left;
    color: #3b3b3b;
    font-size: 30px;
}

.product_category,
.product_rating,
#product_description {
    margin-bottom: 5px;
    padding-bottom: 15px;
}

.product_category a {
    font-size: 16px;
}

.product_rating {
    margin-bottom: 20px;
}

.product_desc {
    border-bottom: 1px solid #ddd;
}

.rate {
    display: flex;
    align-items: center;
    float: left;
}

.rating {
    font-size: 16px;
}

label {
    display: flex;
    align-items: center;
}

.rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 20px;
    color: #ccc;
}

.rate > input:checked ~ label i {
    color: #ffc700;
}

.rate:not(:checked) > label:hover i,
.rate:not(:checked) > label:hover ~ label i {
    color: #deb217;
}

.rate > input:checked + label:hover i,
.rate > input:checked + label:hover ~ label i,
.rate > input:checked ~ label:hover i,
.rate > input:checked ~ label:hover ~ label i,
.rate > label:hover ~ input:checked ~ label i {
    color: #c59b08;
}

.original-price {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: space-between;
  width: 100%;
  font-size: 24px;
  color: #3b3b3b;
  font-weight: bold;

}

.discount-percentage {
  color: rgb(255, 72, 103);
  font-size: 14px;
  font-weight: bold;
  margin-left: 8px;
}

.price-striked {
  color: gray;
  text-decoration: line-through;
  font-size: 14px;
}

.discounted-price {
  color: #3b3b3b;
  font-size: 24px;
  font-weight: bold;

}

.rte {
    font-size: 14px;
}
</style>

{% endblock %}
