{% load static %}

<div class="column_left column col-sm-3" style="padding-top: 70px;">
    <div class="widget widget__collections">
        <div class="widget_content">
        <div class="cart-info">
          <h3 class="widget_header">Cart info</h3>
            <div class="p6b_4_6 rb_4_6">
              <!---->
              <button
                class="b2111-a0 b2111-b2 b2111-a4"
                style="background: rgba(16, 196, 76, 1); color: #ffffff"
              >
                <div class="b2111-a1">
                  <div class="b2111-a8 tsBodyControl500Medium">Перейти к оформлению</div>
                </div>
                <div class="b2111-a" style="background-color: #ffffff"></div>
              </button>
              <div class="p7b_4_6">
                <div class="t7 u0">
                  <div class="v2">
                    <div class="v3" style="color: #707f8d">
                      <span class="v4"
                        >Доступные способы и время доставки можно выбрать при оформлении
                        заказа</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="q1b_4_6">
              <div class="b2q_4_6">
                <span class="qb2_4_6"> Ваша корзина </span>
                <span class="q2b_4_6"> 99 товаров • 231.13&nbsp;кг </span>
              </div>
              <div class="bp9_4_6">
                <div class="b9p_4_6">
                  <span class="pb9_4_6"
                    ><span>Товары (99)</span>
                    <!----></span
                  >
                  <!---->
                  <!---->
                </div>
                <div>
                  <!---->
                  <span class="bq_4_6">662&nbsp;507.89&nbsp;с</span>
                </div>
              </div>
              <div class="bp9_4_6">
                <div class="b9p_4_6">
                  <span class="pb9_4_6"
                    ><span>Скидка</span>
                    <!----></span
                  >
                  <!---->
                  <button class="ga111-a undefined">
                    <div class="ga111-a2 tsBodyControl400Small">Подробнее</div>
                  </button>
                </div>
                <div>
                  <!---->
                  <span class="bq_4_6"
                    ><span style="color: #f91155">- 356&nbsp;698.21&nbsp;с</span></span
                  >
                </div>
              </div>
              <div class="bq3_4_6">
                <span>
                  Общая стоимость
                  <div class="d4011-a">
                    <button
                      class="ag013-a0 ag013-a2"
                      style="
                        background: rgba(255, 255, 255, 1);
                        color: rgba(0, 26, 52, 0.4);
                      "
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        class="ag013-b1"
                      >
                        <path
                          fill="currentColor"
                          d="M8 0c4.964 0 8 3.036 8 8s-3.036 8-8 8-8-3.036-8-8 3.036-8 8-8m-.889 11.556a.889.889 0 0 0 1.778 0V8A.889.889 0 0 0 7.11 8zM8.89 4.444a.889.889 0 1 0-1.778 0 .889.889 0 0 0 1.778 0"
                        ></path>
                      </svg>
                      <div
                        class="ag013-a"
                        style="background-color: rgba(0, 26, 52, 0.4)"
                      ></div>
                    </button></div
                ></span>
                <span>305&nbsp;809.68&nbsp;с</span>
              </div>
              <div class="bq0_4_6">
                <span class="qb0_4_6"
                  ><span
                    ><div class="x2 x7 x8 q0b_4_6" style="color: #808d9a">
                      <span class="tsBodyControl400Small">Общая стоимость в RUB</span>
                    </div>
                    <!----></span
                  >
                  <!---->
                  <!---->
                  <!----></span
                >
                <div class="bq1_4_6">
                  <div class="x2 x7 x8" style="color: #808d9a">
                    <span class="tsBodyControl400Small">315&nbsp;091&nbsp;₽</span>
                  </div>
                </div>
              </div>
              <!---->
            </div>
            <!---->
          </div>

      </div>
    </div>

<style>

div.widget_content {
    background-color: rgba(255, 255, 255, 0.521);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3.widget_header {
    text-align: center;
}

</style>
