{% load static %}

<div class="column_left column col-sm-3" style="padding-top: 70px;">
    <div class="widget widget__collections">
        <div class="widget_content">
        <div class="cart-header">
          <h3 style="margin-bottom: 10px;" class="widget_header">Place an order</h3>
            <div class="p6b_4_6 rb_4_6">
              <!---->
              <button
                class=""
                style="background: rgb(131, 131, 131); color: #ffffff"
              >
                <div class="b2111-a1">
                  <button class="checkout-btn" type="submit">Check out</button>
                </div>
                <div class="b2111-a" style="background-color: #ffffff"></div>
              </button>
              <div class="p7b_4_6">
                <div class="t7 u0">
                  <div class="v2">
                    <div class="v3" style="color: #707f8d">
                      <span class="v4"
                        >You can find out more about the delivery when placing an order.
                        </span>

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <hr>

            <div class="cart-info">
              <div class="ebjd_7_1">
                <span>In Cart:</span>
                <span style="color: #3b3b3bbd; font-weight: bold;">{{ cart.products_count }} Products</span>
              </div>

              <div class="ebjd_7_1">
                <span >Overall: </span>
                <span style="color: #3b3b3bbd; font-weight: bold;">{{ cart_total_quantity }} Items</span>
              </div>

              <hr>

              <div class="selected-products">
                <div class="b9p_4_6">
                  <span>Selected:</span>
                  <span class="items-selected" style="color: #3b3b3bbd; font-weight: bold;"> 0</span>
                </div>
              </div>

              <div class="price">
                  <div class="b9p_4_6">
                    <span>Summary:</span>
                    <span style="color: #3b3b3bbd; font-weight: bold;" class="total-cart-price">$ 0</span>
                  </div>
              </div>

              <div class="discount">
                <div class="b9p_4_6">
                    <span>Discount: </span>
                    <span class="total-discounted" style="color: #f91155;">- 0</span>
                </div>
              </div>

              <hr>
              <div class="full-price">

                <div class="b9p_4_6">
                  <span>Total in RUB:</span>
                  <span class="total-rub" style="color: #3b3b3bbd; font-weight: bold;">₱ 0</span>
                </div>

                <div class="b9p_4_6">
                  <span>Total in USD:</span>
                  <span class="total-usd" style="color: #3b3b3bbd; font-weight: bold;">$ 0</span>
                </div>

                <div class="b9p_4_6">
                  <span>Total in EUR:</span>
                  <span class="total-eur" style="color: #3b3b3bbd; font-weight: bold;">€ 0</span>
                </div>

                <hr>

                <div class="d4711-b">
                  <span style="font-weight: 500;">Total price: </span>
                  <span class="total-usd-total" style="font-weight: bold;">$ 0</span>
                </div>

              </div>

            </div>

          </div>

      </div>
    </div>
  </div>
</div>

<style>

div.widget_content {
    background-color: rgba(255, 255, 255, 0.521);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3.widget_header {
    text-align: center;
}

.checkout-btn {
  border-radius: 10px;
  background-color: #3b3b3b;
  color: white;
  font-size: 15px;
  padding: 12px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.cart-info {
  font-size: 16px;
}

.ebjd_7_1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.b9p_4_6 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.d4711-b {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  color: #3b3b3bd0;
}

</style>
