{% load static %}

<div class="column_left column col-sm-3">
  <div class="widget widget__collections">
    <h3 class="widget_header">Categories</h3>
    <div class="widget_content">
      <ul class="list">
        {% for category in categories %}
        <li>
          <a href="{% url 'search_products' %}?category={{ category.name }}" title="{{ category.name }}">
            {{ category.name }}
          </a>
        </li>
        {% empty %}
        <li>No categories available.</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  {% include 'top_rated.html' %}

</div>
