{% load static %}

<div class="column_left column col-sm-3">
  <div class="widget widget__collections">
    <h3 class="widget_header">Categories</h3>
    <div class="widget_content">
      <ul class="list">
        {% for category in categories %}
        <li class="{{ category.name|slugify }}">
          <a
            href="{% url 'get_product_by_id' category.id %}"
            title="{{ category.name }}"
          >
            {{ category.name }}
          </a>
        </li>
        {% empty %}
        <li>No categories available.</li>
        {% endfor %}
      </ul>
    </div>
  </div>


  <div class="widget widget__types">
    <h3 class="widget_header">Product Types</h3>
    <div class="widget_content">
      <ul class="list">
        <li class="Marker &amp; Highlighter">
          <a
            href="collections/types@q=Marker &amp; Highlighter.html"
            title="Marker &amp; Highlighter"
            >Marker &amp; Highlighter</a
          >
        </li>
        <li class="Paper &amp; Materials">
          <a
            href="collections/types@q=Paper &amp; Materials.html"
            title="Paper &amp; Materials"
            >Paper &amp; Materials</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="widget widget_best_sellers">
    <h3 class="widget_header">Best Sellers</h3>
    <div class="widget_content">
      <div class="product_listing_sidebar">
        <div class="product">
          <div class="product_img">
            <a href="collections/vendors/products/2-d-ring-file-a4.html">
              <img
                alt="2-D Ring File A4"
                src="{% static 'cdn/shop/products/2-d_ring_file_a4_1_small.jpeg@v=1400243781' %}"
              />
            </a>
          </div>
          <div class="product_info">
            <div class="product_name">
              <a href="collections/vendors/products/2-d-ring-file-a4.html"
                >2-D Ring File A4</a
              >
            </div>
            <div class="product_price">
              <span class="money">$25.00</span>
            </div>
          </div>
        </div>
        <div class="product">
          <div class="product_img">
            <a href="collections/vendors/products/2-hole-punch-0102.html">
              <img
                alt="2-hole punch 0102"
                src="{% static 'cdn/shop/products/2-hole_punch_0102_1_small.jpeg@v=1400243785' %}"
              />
            </a>
          </div>
          <div class="product_info">
            <div class="product_name">
              <a href="collections/vendors/products/2-hole-punch-0102.html"
                >2-hole punch 0102</a
              >
            </div>
            <div class="product_price">
              <span class="money">$39.00</span>
            </div>
          </div>
        </div>
        <div class="product">
          <div class="product_img">
            <a
              href="collections/vendors/products/avery-clean-edge-inkjet-business-card.html"
            >
              <img
                alt="Avery Clean Edge Inkjet Business Card"
                src="{% static 'cdn/shop/products/avery_clean_edge_inkjet_business_card_1_small.jpeg@v=1400243790' %}"
              />
            </a>
          </div>
          <div class="product_info">
            <div class="product_name">
              <a
                href="collections/vendors/products/avery-clean-edge-inkjet-business-card.html"
                >Avery Clean Edge Inkjet Business Card</a
              >
            </div>
            <div class="product_price">
              <span class="money">$18.00</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
