{% load static %}
{% load thumbnail %}

<div class="widget widget_best_sellers">
    <h3 class="widget_header">Top Rated</h3>
    <div class="widget_content">
        <div class="product_listing_sidebar">
          {% for product in top_rated_products %}
          <div class="product">
              <div class="product_img">
                  <a href="{% url 'get_product_by_id' product.id %}">
                      <img src="{% thumbnail product.image 'product_thumbnail' %}" alt="{{ product.name }}" />
                  </a>
              </div>
              <div class="product_info">
                  <div class="product_name">
                      <a href="{% url 'get_product_by_id' product.id %}">{{ product.name }}</a>
                  </div>
                  <div class="product_price">
                      <span class="money">${{ product.price_with_discount }}</span>
                  </div>
                  <div class="product_rating">
                      {% if product.avg_rating %}
                          <span>Average Rating: {{ product.avg_rating }}</span>
                      {% else %}
                          <span>No ratings yet</span>
                      {% endif %}
                  </div>
              </div>
          </div>
          {% empty %}
              <p>No top-rated products available.</p>
          {% endfor %}
      
        </div>
    </div>
</div>
